<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://gazettereview.com/wp-content/uploads/2016/05/runway-models-1.jpg" alt="...">
      <div class="carousel-caption">
        WELCOME
      </div>
    </div>
    <div class="item">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/03/01-10-unexpected-ways-clothes-affect-mood-power-tie.jpg" alt="...">
      <div class="carousel-caption">
        HIT
      </div>
    </div>
        <div class="item">
                  <img src="https://i.ytimg.com/vi/qSBygi7MhyI/maxresdefault.jpg" alt="...">
                  <div class="carousel-caption">
                    HIT
                  </div>
                </div>
  </div>




  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>